<a href="https://colab.research.google.com/github/bharathwajks26/Programs/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'DEPARTMENT_ID': [
        10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270
    ],
    'DEPARTMENT_NAME': [
        'Administration', 'Marketing', 'Purchasing', 'Human Resources', 'Shipping', 'IT', 'Public Relations',
        'Sales', 'Executive', 'Finance', 'Accounting', 'Treasury', 'Corporate Tax', 'Control And Credit',
        'Shareholder Services', 'Benefits', 'Manufacturing', 'Construction', 'Contracting', 'Operations',
        'IT Support', 'NOC', 'IT Helpdesk', 'Government Sales', 'Retail Sales', 'Recruiting', 'Payroll'
    ],
    'MANAGER_ID': [
        200, 201, 114, 203, 121, 103, 204, 145, 100, 108, 205, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
    ],
    'LOCATION_ID': [
        1700, 1800, 1700, 2400, 1500, 1400, 2700, 2500, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700
    ]
}

employees = pd.DataFrame(data)


dist_id = employees['DEPARTMENT_ID'].unique()

# Create a new DataFrame with distinct department IDs
dist_df = pd.DataFrame({'DEPARTMENT_ID': dist_id})

# Display the result
print(dist_df)

    DEPARTMENT_ID
0              10
1              20
2              30
3              40
4              50
5              60
6              70
7              80
8              90
9             100
10            110
11            120
12            130
13            140
14            150
15            160
16            170
17            180
18            190
19            200
20            210
21            220
22            230
23            240
24            250
25            260
26            270

In [3]:
import pandas as pd

data = {
    'EMPLOYEE_ID': [102, 101, 101, 201, 114, 122, 200, 176, 176, 200],
    'START_DATE': ['2001-01-13', '1997-09-21', '2001-10-28', '2004-02-17', '2006-03-24', '2007-01-01', '1995-09-17', '2006-03-24', '2007-01-01', '2002-07-01'],
    'END_DATE': ['2006-07-24', '2001-10-27', '2005-03-15', '2007-12-19', '2007-12-31', '2007-12-31', '2001-06-17', '2006-12-31', '2007-12-31', '2006-12-31'],
    'JOB_ID': ['IT_PROG', 'AC_ACCOUNT', 'AC_MGR', 'MK_REP', 'ST_CLERK', 'ST_CLERK', 'AD_ASST', 'SA_REP', 'SA_MAN', 'AC_ACCOUNT'],
    'DEPARTMENT_ID': [60, 110, 110, 20, 50, 50, 90, 80, 80, 90]
}

df = pd.DataFrame(data)

# Count the number of jobs each employee has done
job_counts = df.groupby('EMPLOYEE_ID')['JOB_ID'].count()

# Select employees who did two or more jobs
result = job_counts[job_counts >= 2]

# Display the employee IDs
print(result)

EMPLOYEE_ID
101    2
176    2
200    2
Name: JOB_ID, dtype: int64